* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  color: $primary-color-light;
}

.container {
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 25% 75%;
  grid-template-areas: 
    "logo image"
    "text image";
  background: url("../images/bg-pattern-desktop.svg") no-repeat center center/cover;
    
  @media screen and (max-width: 700px) {
    grid-template-columns:  1fr;
    grid-template-rows: 15% 40% 45%;
    grid-template-areas: 
    "logo"
    "image"
    "text";
  }

  .logo {
    padding: 2rem 4rem;
    grid-area: logo;
  }

  .image {
    background: url("../images/hero-desktop.jpg") no-repeat center center/cover;
    grid-area: image;
    height: 600px;

    @media screen and (max-width: 700px) {
      background: url("../images/hero-mobile.jpg") no-repeat center center/cover;
      grid-area: image;
      height: 300px;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/bg-pattern-desktop.svg") no-repeat center center/cover;
    grid-area: text;
    padding: 2rem 4rem;

    @media screen and (max-width: 700px) {
      text-align: center;
    }

    h1 {
      font-size: 700;
      text-transform: uppercase;
      letter-spacing: 1.2rem;
      line-height: 2.3rem;
      padding-bottom: 2rem;
      
      span {
        color: #000;
      }

      @media screen and (max-width: 700px) {
      padding: 2rem 0;
      }
    }

    p {
      line-height: 1.4rem;
    }

   .form {
      display: flex;
      padding-top: 2rem;
  
      @media screen and (max-width: 700px) {
        justify-content: center;
      }
      #email {
       width: 90%;
       padding: .8rem 2rem;
       outline: none;
       background: $linear-gradient-light;
       border: $primary-color-light solid 1px;
       color: $primary-color-light;
       border-radius: 1.5rem;

        &::placeholder {
          color: $primary-color-light;
        }
        &:focus {
          background-color: lighten($primary-color-light, 5%);
        } 
      }

      #error-icon {
        transform: translateX(-6rem);
        padding: 1rem 0;
      }

      button {
          background: $linear-gradient-dark;
          padding: .8rem 1.8rem;
          outline: none;
          border-radius: 1.5rem;
          border: $primary-color-light solid 1px;
          transform: translateX(-5rem);
          cursor: pointer;
      
          .arrow-icon {
            text-align: center;
          }
        }
    }
    
    #error-message {
      padding: .5rem 2rem;
      color: $primary-color-dark;
      text-align: left;
      font-size: .8rem;
    } 
  }
}


.attribution { 
  font-size: 11px; 
  text-align: center; 

  a { 
    color: $link-color; 
  }
}
     

