.img-container {
  order: 2;
  overflow: hidden;
    
  @media screen and (max-width: 900px) {
    grid-row: 1;
    margin-top: 6rem;
  }

  .main-img {
    width: 100%;
    height: auto;
  }
}

.text-container {
  background: url("../images/bg-pattern-desktop.svg")center center no-repeat;
  background-size: cover;
  text-align: left;
  padding: 10rem 4rem 2rem 4rem;  

  @media screen and (max-width: 1000px) {
    padding-top: 6rem;
    text-align: center;
  }

}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  padding-bottom: 1.5rem;

  a { 
    color: $link-color; 
  }
}